

<div class="span8">
  <button class=" btn btn-primary ">
    <%= link_to "    New Post  ",   new_post_path   %>  </button>

<% if user_signed_in? %>

    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>



    </section>

<% else %>
      <div class="center hero-unit">
        <h3 class="" > You have not registered!</h3>


         <div  >
        <%= link_to "Sign up now!", new_user_registration_path  , class: "btn btn-large btn-primary" %>
         </div>
      </div>
      <%= link_to "Home", 'http://localhost:3000' %>

<% end %>
</div>
<div class="span8">
  <tr>
  </tr>
<% if user_signed_in? && current_user.posts.any? %>
    <h3>Your posts (<%= current_user.posts.count %> in total)</h3>
     content:  <% @posts= current_user.posts.paginate(page: params[:page])     if !current_user.nil? %>

      <ol>
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
<% end %>
</div>