<% provide(:title, @user.email) %>
<title><%= yield(:title) %></title>

<% provide(:current_user, @user) %>
<p id="notice"><%= notice %></p>


<p><b>h1 </b>
  <%= @current_user %> </p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<div class="span8">
  <% if @user.posts.any? %>
      <h3></h3>posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
  <% end %>
</div>
!!!!!!!!!!!!!!


<% if signed_in? %>
    <li><%= link_to "Users", '#' %></li>
    <% else %>
    <li><%= link_to "sign in", '#' %></li>
    <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
