<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>

  <li class="active">My Profile |  </li>
  <li> <%= link_to 'Edit My Profile | ', edit_user_path(@user) %>     </li>
  <li>  <%= link_to 'See All Users | ', users_path %>           </li>
</ul>
<div class="span8">


</div >
<% provide(:title, @user.email) %>
<title><%= yield(:title) %></title>

<% provide(:current_user, @user) %>
<p id="notice"><%= notice %></p>


<p>
  <%= @current_user %> </p>
<p>
  <b>My Email:</b>
  <%= @user.email %>
</p>


<div class="span8">
  <% if @user.posts.any? %>
      <h3>All my posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
  <% end %>
</div>



<% if signed_in? %>

    <% else %>
    <li><%= link_to "sign in", '#' %></li>
    <% end %>


