<div class="container">
  <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :creating_user_ID  %><br />
    <%= current_user.id %>
    <%= "email:"+current_user.email %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place, placeholder: "Compose new micropost..." %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, placeholder: "Compose new micropost..." %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_field :details, placeholder: "Compose new micropost..." %>
  </div>
      <button  class="btn btn-large btn-primary" type="button">
    <%= f.submit "Create Post", class: "btn btn-large btn-primary",id:"Create Post"  %>
  </button >
<% end %>
</div>