<li>
  <span>title: <%=post.title %></span>
  <span>place: <%=post.place %></span>
  <span>time: <%=post.time %></span>
  <span class="content"><%=post.details %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>