<li>
  <span class="label label-info">title: </span>
  <span>  <%=post.title %> </span>
  <span class="label label-info">place:</span>
  <%=post.place %>
  <span class="label label-info">time: </span>
  <%=post.time %>

  <span class="label label-inverse">        Posted      </span>
    <%= time_ago_in_words(post.created_at) %> ago.



    <a href="<%= followers_post_path(post) %>">
      <strong id="followers" class="stat"> </strong>   followers
    </a>

      <%= post.followers.count %>


</li>
