<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>

  <li class="active">Show Post</li>


</ul>

<p id="notice"><%= notice %></p>
<div id="follow-notice"></div>
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>
<p>
  <b>Time:</b>
  <%= @post.time %>
</p>

<p>
  <b>Publish User:</b>
  <%= User.find(@post.user_id).email %>
</p>

<p>
  <b>Place:</b>
  <%= @post.place %>
</p>

<p>
  <b>      Posted   :</b>
<%= time_ago_in_words(@post.created_at) %> ago.
  </p>

<p>
  <b>Details:</b>
  <%= @post.details %>
</p>


<p>
  <b>Participators (<%= @post.followers.count %>):</b>
  <%  @users= @post.followers %>
  <% @users.each do |user| %>
      <tr>


        <% if  user_signed_in? %>
        <td> <%= link_to (User.find(user.id).email), user %></td>
            <%= "," %>
            <% end %>
      </tr>
  <% end %>
</p>
<div class="span8">
  <%if signed_in? %>
  <%= render 'follow_form' %>
<% else %>
      Want to follow? You need to <%= link_to "sign in", new_user_session_path %>

  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back to post list', posts_path %>
