<!DOCTYPE html>
<html>
<head>

  <title>Ying Li's App|TartanParty</title>
  <%= javascript_include_tag :defaults %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= javascript_include_tag "jquery-rails.js" %>


  <%= csrf_meta_tags %>
</head>

<body>


<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Home</a>
      <ul class="nav">
        <li ><%= link_to "All Posts", posts_path  %> </li>
        <li>   <%= link_to "My Profile", current_user %>      </li>
        <li><%= link_to "Make Comments", comments_path  %> </li>

      </ul>
    </div>


  </div>
</div>
<%= render 'layouts/header' %>

<div class="container">

<%= yield %>
    </div>

<div>

</div>
</body>
</html>
